<md-content layout="column" flex>
    <md-content flex layout-margin layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Change Polling Interval</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                        <div>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Polling Interval (In Seconds)</label>
                                    <input ng-model="vm.pollingInterval">
                                </md-input-container>
                            </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="vm.setPollingInterval()">Update</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </md-content>
</md-content>