<md-dialog aria-label="{{customer.name}}" style="width: 100%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{customer.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list id="row-list">
                    <md-list-item flex><span flex="35" class="row-heading">Phone Number</span><span class="row-data">{{customer.phone}}</span></md-list-item>
                    <md-list-item flex><span flex="35" class="row-heading">BAN</span><span class="row-data">{{customer.ban}}</span></md-list-item>
                    <md-list-item flex><span flex="35" class="row-heading">Reason for visit</span><span class="row-data">{{customer.visitReason}}</span></md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="clearCustomer()">
                Clear From Queue
            </md-button>
            <md-button ng-click="cancel()">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>